body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 24px;
    text-align: center;
}

.container {
    width: 80%;
    max-width: 600px;
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#pasteHere {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    background-color: aliceblue;
}

/* Media Queries for Responsive Design */

@media (max-width: 768px) {
    h1 {
        font-size: 20px;
    }

    .container {
        width: 90%;
        padding: 15px;
    }

    button {
        font-size: 16px;
        padding: 8px 16px;
    }

    #pasteHere {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 18px;
    }

    .container {
        width: 95%;
        padding: 10px;
    }

    button {
        font-size: 14px;
        padding: 6px 12px;
    }

    #pasteHere {
        font-size: 14px;
    }
}